/* @media screen and (max-width:320px) {
    .tutor_main{
        margin-top: 52rem !important;
    }

    
    
}

@media (min-width:321px) and (max-width:360px) {
    .tutor_main{
        margin-top: 25rem !important;
    }
    
}

@media (min-width:361px) and (max-width:375px) {
    .tutor_main{
        margin-top: 37rem !important;
    }
    
}

@media (min-width:376px) and (max-width:393px) {
    .tutor_main{
        margin-top: 26rem !important;
    }
}

@media (min-width:394px) and (max-width:414px) {
    .tutor_main{
        margin-top: 15rem !important;
    }
}

@media (min-width:415px) and (max-width:425px) {
    .tutor_main{
        margin-top: 39rem !important;
    }
}


@media (min-width:500px) and (max-width:540px) {
    .tutor_main{
        margin-top: 21rem !important;
    }
}

@media (min-width:500px) and (max-width:768px) {
    .tutor_main{
        margin-top: 8rem !important;
    }
} */
